img.z00m {
    max-width: none;
}

section.z00m {
    overflow: auto !important;
    cursor: grab !important;
}

span.z00m>i.fas {
    transform: rotate(0deg) !important;
}

div.z00m {
    width: auto !important;
}

div.z00m-control {
    position: absolute !important;
    top: 36px !important;
    right: 0 !important;
    z-index: 1000 !important;
    display: inline-flex;
    gap: 5px;
    padding: 5px;
    border: 2px double;
}

body.theme-dark div.z00m-control {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

body.theme-light div.z00m-control {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}